
div.enemy1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

div.enemy2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

div.enemy3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}